#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title-container h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.title-container h1:after,
.title-container h1:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #c50000;
  border-top: 1px solid #c50000;
  height: 5px;
  background-color: #242424;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-auto-rows: 200px;
  justify-content: center;
  gap: 20px;
}

.game-completed {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}

.game-completed h1 {
  font-size: 60px;
  background-color: rgb(21, 191, 72);
  padding: 15px;
  border-radius: 6px;
  border: 2px solid white;
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.3),
    inset -6px -6px 12px rgba(255, 255, 255, 0.2);
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5), 2px -2px 0 rgba(39, 50, 62, 0.9);
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 6px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-front img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.flip-card-back {
  background-color: rgb(36, 58, 78);
  color: white;
  transform: rotateY(180deg);
  display: grid;
  place-items: center;
  font-size: 60px;
}

.wrapper {
  margin: none;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.glow {
  position: absolute;
  width: 0px;
  height: 0px;
  background: transparent;
  border-radius: 200px;
  box-shadow: 0px 0px 400px 200px white;
  animation: shadow 6s linear infinite;
}
.mask {
  margin: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: gainsboro;
  animation-fill-mode: forwards;
  z-index: 100;
}

.container-gif {
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 1s linear alternate infinite;
  transform: rotate(-10deg);
}

.main {
  height: 250px;
  width: 200px;
  background: gold;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.stem2 {
  position: fixed;
  top: 190px;
  border-bottom: 100px solid gold;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0px;
  width: 40px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  transform: rotate(180deg);
}
.stem1 {
  position: absolute;
  top: 280px;
  border-bottom: 100px solid gold;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 40px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}
.base {
  position: fixed;
  width: 180px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  background: black;
  height: 20px;
  top: 380px;
}
.arms {
  width: 300px;
  height: 150px;
  position: absolute;
  background: transparent;
  z-index: -1;
  border: #ddba00 20px solid;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.stemCrease {
  position: absolute;
  width: 60px;
  height: 15px;
  border-radius: 10px;
  background: #ddba00;
  top: 280px;
  z-index: 1;
}
.star {
  position: absolute;
  font-size: 100px;
  color: white;
  top: 0px;
  left: 100px;
  transform-origin: center;
  animation: shimmer 0.4s alternate infinite linear;
}

@keyframes shimmer {
  to {
    transform: rotate(20deg);
  }
}
@keyframes rotate {
  to {
    transform: rotate(10deg);
  }
}
@keyframes shadow {
  0% {
    left: 0%;
    top: 100%;
  }
  20% {
    left: 50%;
    top: 15%;
  }
  30% {
    left: 100%;
    top: 50%;
  }
  40% {
    left: 70%;
    top: 100%;
  }
  70% {
    left: -100%;
    top: -100%;
  }
  80% {
    left: -100%;
    top: 200%;
  }
  85% {
    left: 500%;
    top: 200%;
  }
  95% {
    left: 50%;
    top: 80%;
  }
  100% {
    left: 0%;
    top: 100%;
  }
}
